* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background-color: #202125;
}

h1 {
  color: white;
}

p {
  color: white;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/**/

.logout a {
  background-color: #EEEEEE;
  padding: 8px 20px;
  text-decoration:none;
  font-weight:bold;
  border-radius:5px;
  cursor:pointer;
  text-decoration: underline;
}

/*Button add album style*/
.button {
  border: none;
  color: white;
  padding: 16px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50%;
  border: 1px;
}

.button {
  background-color: white; 
  color: black; 
  border: 2px;
}

.button:hover {
  background-color: #cccccc;
  color: white;
}

/*style for input tag*/
input[type=text] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-left: 10px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #cccccc;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#add-photo{
  border-radius: 5px;
  background-color: #808080;
  width: 25%;
  margin: auto;
}

#submit-photo{
  margin: auto;
  margin-left: 65%;
}